<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <connectionStrings>
        <remove name="LocalSqlServer" />
        <add name="eUseControl" connectionString="Data Source=ASUS-LAPTOP;          Initial Catalog=eUseControl;          Integrated Security=True;          MultipleActiveResultSets=True;          App=EntityFramework" providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>