

@using System.Web.Optimization
@model TW.Models.UserLogin

<!-- Start Banner Area -->
<section class="banner-area organic-breadcrumb">
     <div class="container">
          <div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
               <div class="col-first">
                    <h1>Login/Register</h1>
                    <nav class="d-flex align-items-center">
                         <a href="../Home/Index">Pagina principală<span class="lnr lnr-arrow-right"></span></a>
                         <a href="category.html">Login/Register</a>
                    </nav>
               </div>
          </div>
     </div>
</section>
<!-- End Banner Area -->
<!--================Login Box Area =================-->

<section class="login_box_area section_gap">
     <div class="container">
          <div class="row">
               <div class="col-lg-6">
                    <div class="login_box_img">
                         <img class="img-fluid" src="https://prnt.sc/ka1256" alt="">
                         <div class="hover">
                              <h4>New to our website?</h4>
                              <p>There are advances being made in science and technology everyday, and a good example of this is the</p>
                              <a class="primary-btn" href="../Register/Index">Create an Account</a>
                         </div>
                    </div>
               </div>
               <div class="col-lg-6">
                    <div class="login_form_inner">
                         <h3>Log in to enter</h3>

                         @Html.ValidationSummary(true)
                         @using (Html.BeginForm("Index", "Login", FormMethod.Post, new { @id = "LoginForm" }))
                         {
                              @Html.AntiForgeryToken()
                              <div class=" col-md-12 form-group">
                                   @Html.TextBoxFor(m => m.Credential, new
                              {
                                  placeholder = "example@gmail.com",
                                  title = "Please enter you username",
                                  value = "",
                                  name = "username",
                                  id = "username",
                                  @class = "form-control"
                              })
                              </div>
                              <div class="col-md-12 form-group">
                                   @Html.TextBoxFor(m => m.Password, new
                              {
                                  @class = "form-control",
                                  type = "password",
                                  title = "Please enter your password",
                                  placeholder = "**************",
                                  value = "",
                                  name = "password",
                                  id = "password"
                              })
                              </div>
                              <div class="col-md-12 form-group">
                                   <div class="create_account">
                                        <input type="checkbox" id="f-option2" name="selector">
                                        <label for="f-option2">Keep me logged in</label>
                                   </div>
                              </div>
                              <div class="col-md-12 form-group">
                                   <button type="submit" value="submit" class="primary-btn">Log In</button>
                              </div>
                              <div>
                                  <a href="password_recovery.html">Forgot Password?</a>
                              </div>
                         }

                    </div>
               </div>
          </div>
     </div>
</section>
